/*
 * css for a mobile device
 * source: http://matthewjamestaylor.com/blog/ipad-layout-with-landscape-portrait-modes
 */
 
 * {
	margin:0;
	padding:0;
}
h2 {
	padding:1em 0 .5em 0;
}

p {
	line-height:1.4em;
}
p + p {
	text-indent:2em;
}
body {
	font-size:100%;
	text-align:center;
	background:#ddd;
	font: normal 12px 'Segoe UI', Tahoma, Verdana, Arial, Helvetica, sans-serif;
	line-height: 1.2;
	color: #1e2022;
}

pre {
	display:block;
	margin:1em 0 0 0;
	width:488px;
}
pre code {
	background:#eee;
	display:block;
	padding:10px;
}
.r {
	float:right;
	padding:0 0 10px 20px;
}

/*
 * Our CSS
 */
 
button {
    font: normal 12px 'Segoe UI', Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 150%;
	width: 200px;
	height: 75px;
    background-color: #ddd;
    color: #111;
}

/* link button css
 * from http://webdesignerwall.com/tutorials/css3-gradient-buttons
 */
.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}

 .orange {
	margin: 0 auto;
	color: #e0ecff; /*light color text*/
	border: solid 1px #3a63a8;
	background: #48628f;
	background: -webkit-gradient(linear, left top, left bottom, from(#4f72ad), to(#2471f2));
	background: -moz-linear-gradient(top,  #4f72ad,  #2471f2);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4f72ad', endColorstr='#2471f2');
}
.orange:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#4d648a), to(#23395e));
	background: -moz-linear-gradient(top,  #4d648a,  #23395e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4d648a', endColorstr='#23395e');
}
.orange:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#2471f2), to(#4f72ad));
	background: -moz-linear-gradient(top,  #2471f2,  #4f72ad);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#2471f2', endColorstr='#4f72ad');
}
 
/* table css 
 * from: http://veerle-v2.duoh.com/blog/comments/a_css_styled_table/
 */

#buildingTable {
	width: 700px;
	padding: 0;
	margin: 0;
}

caption {
	padding: 0 0 5px 0;
	width: 700px;	 
	font: italic 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	text-align: right;
}

th {
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #FFF;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
	padding: 6px 6px 6px 12px;
	background: #222 url('img/bg_header.jpg') no-repeat;
}

th.nobg {
	border-top: 0;
	border-left: 0;
	border-right: 1px solid #C1DAD7;
	background: none;
}

td {
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #fff;
	padding: 6px 6px 6px 12px;
	color: #4f6b72;
}


td.alt {
	background: #F5FAFA;
	color: #797268;
}

th.spec {
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	background: #fff url('img/bullet1.gif') no-repeat;
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

th.specalt {
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	background: #f5fafa url('img/bullet2.gif') no-repeat;
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #797268;
}

/* end table css */

/* Landscape mode (default) */
#wrap {
	margin:0 auto;
	width:1024px;
	position:relative;
	overflow:hidden;
	text-align:left;
	background:#fff;
}
#header {
	float:left;
	width:1024px;
	padding:10px 0 20px 10px;
	background:#23395e;
	border-bottom:1px solid #000;
}
#header h1 {
	padding:10px 30px 0 30px;
	color: #fff;
}
#header a {
	text-decoration: none;
	color: #FFF;
}
#header p {
	padding:0 30px;
	line-height:1.4em;
}
#content {
	float:left;
	width:1024px;
	min-height: 480px;
	background:#eee;
	position:relative;
	left:768px;
}
#main {
	float:left;
	width:708px;
	position:relative;
	right:738px;
	padding:20px 0;
}
#main img {
	display: block;
    margin-left: auto;
    margin-right: auto
}
#side {
	float:right;
	width:216px;
	position:relative;
	right:788px;
	padding-bottom:20px;
}
#sidea,
#sideb,
#sidec {
	clear:left;
	float:left;
	width:216px;
	padding: 10px 0px;
	border-bottom: 1px solid gray;
}
#footer {
	clear:both;
	float:left;
	width:1024px;
	border-top:1px solid #000;
	background:#ddd;
}
#footer p {
	padding:20px 30px;
	background-color: aaa;
}

#buttonDiv {
	margin: 0 auto;
}

@media only screen and (orientation:portrait){
	/* portrait mode */
	#header,
	#wrap,
	#footer {
		width:768px;
	}
	#content {
		left:0;
		background:#fff;
	}
	#main {
		float:left;
		width:708px;
		position:relative;
		right:0;
		left:30px;
		padding:20px 0;
		min-height: 648px;
	}
	#side {
		clear:left;
		float:left;
		width:768px;
		right:0;
		padding-bottom:20px;
		background:#eee;
	}
	#sidea {
		clear:none;
		width:216px;
		float:left;
		position:relative;
		left:30px;
		padding-top:20px;
	}
	#sideb {
		clear:none;
		width:216px;
		float:left;
		position:relative;
		left:60px;
		padding-top:20px;
	}
	#sidec {
		clear:none;
		width:216px;
		float:right;
		position:relative;
		right:30px;
		padding-top:20px;
	}
}
